<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid d-flex justify-content-start">
    <%= link_to 'Home', root_path %>
  </div>
</nav>

<div class="row">
  <div class="col-md-6 col-md-offset-3 ms-4">

    <h1>Bare Metal Form</h1>

    <%= form_with model: @user, method: :patch do |form| %>
      <ul>
        <% @user.errors.full_messages.each do |error| %>
          <li class="alert alert-danger w-50" role="alert"><%= error %></li>
        <% end %>
      </ul>
      <%= form.label :username%><br>
      <%= form.text_field :username %><br><br>
      <%= form.label :email %><br>
      <%= form.email_field :email %><br><br>
      <%= form.label :password %><br>
      <%= form.password_field :password %><br><br>
      <%= form.submit "#{'submit changes'}".upcase, class:"btn btn-primary" %>
    <% end %>
  </div>


  <%#= form_tag("/users", method: "post") do %>
    <%#= label_tag 'username', 'Username' %>
    <%#= text_field_tag 'username' %>
    <%#= label_tag 'email', 'Email:'%>
    <%#= email_field_tag 'email' %>
    <%#= label_tag 'password', 'Password:'%>
    <%#= password_field_tag 'password', 'Password:' %>
    <%#= submit_tag 'Submit' %>
  <%# end %>


  <%# <form accept-charset="UTF-8" action="/users" method="post"> %>
    <%# <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>
    <%# <label for="uname">Username:</label> %>
    <%# <input type="text" id="uname" name="user[username]"><br><br>
    <label for="email">Email:</label> %> 
    <%# <input type="email" id="email" name="user[email]"><br><br> %>
    <%# <label for="Password">Password:</label> %>
    <%# <input type="password" id="password" name="user[password]"><br><br> %>
    <%# <input type="submit" value="Submit"> %>
  <%# </form> %>

</div>
